_pycache_/*
configs/*
!configs/soil_classic/
!configs/soil_classic/*.json
results/*
!results/gage_03463300/
!results/gage_03463300/*.json
!results/gage_03463300/*.png
outputs/*
multirun/*
drafts/*

*.pdf
*.xlsx
*.docx
*.png
*.log

.ipynb_checkpoints/*
__pycache__/*
.idea/*

config.yaml